@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
@import "../../shared/styles/fonts";


.title {
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 40px 90px 20px 50px;
  h4 {
    @include title(0, 26px, 700, auto);
    width: 50%;
  }
  &-reduce {
    width: 40%;
    outline: none;
    border: none;
    background: none;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
  }
}

.container {
  font-size: 16px;
  .basket {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: calc(100vh - 192px);
    overflow: auto;
    padding: 0 50px;
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      padding: 20px;
      border: 1px solid #ececec;
      border-radius: 6px;
      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        width: 124px;
        height: 124px;
        max-height: 124px;
        outline: none;
        img {
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
          vertical-align: top;
          backface-visibility: hidden;
        }
      }
      &-desc {
        width: 100%;
        padding: 20px 20px 20px 30px;
        &__name {
          position: relative;
          overflow: hidden;
          max-height: 3em;
          margin-bottom: 5px;
          outline: none;
          border: none;
          font-size: 18px;
          font-weight: 500;
          line-height: 1.3em;
        }
        &__controls {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 220px;
          div {
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            color: #181818;
            button {
              position: relative;
              width: 30px;
              height: 30px;
              outline: none;
              border-radius: 5px;
              border: none;
              background-color: #F5F5F5;
              font-size: 18px;
              font-weight: 700;
              color: #2D2C2C;
              transition: 0.25s;
              cursor: pointer;
            }
            input {
              width: 50px;
              height: 26px;
              background: none;
              border: none;
              font-size: 16px;
              font-weight: 500;
              text-align: center;
            }
          }
        }
        &__price {
          position: absolute;
          right: 20px;
          bottom: 15px;
          span {
            font-weight: 700;
          }
        }
      }
      &-reduce {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 2;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        transition: 0.25s;
        cursor: pointer;
        &::before {
          content: "\02715";
        }
      }
    }
  }
  .order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-top: 2px solid #2d7d7d;
    &-amount {
      span {
        font-size: 20px;
        font-weight: 700;
      }
    }
    &-submit {
      display: inline-block;
      margin-left: 10px;
      font-size: 14px;
      text-decoration: none;
      vertical-align: bottom;
    }
  }
}

.close {
  position: absolute;
  right: 50px;
  top: 35px;
  z-index: 2;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  transition: 0.25s;
  cursor: pointer;
  &::before {
    content: "\02715";
    font-size: 24px;
    font-weight: 700;
    color: #2D2C2C;
    transition: all 0.3s;
  }
}

@media all and (max-width: 768px) {
  .title {
    padding-top: 20px;
    height: 60px;
    button {
      height: 100%;
    }
  }
  .close {
    top: 8px;
  }
  .container {
    .basket {
      padding: 0 30px;
      &-item {
        padding: 15px;
        &-image {
          width: 100px;
          height: 100px;
          max-height: 100px;
        }
        &-desc {
          width: 100%;
          padding: 15px 15px 15px 24px;
          &__name {
            font-size: 16px;
          }
          &__controls {
            max-width: 180px;
            div {
              button {
                width: 22px;
                height: 22px;
                font-size: 16px;
              }
              input {
                width: 50px;
                height: 22px;
                font-size: 14px;
              }
            }
          }
        }
        &-reduce {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
}

@media all and (max-width: 510px) {
  .title {
    padding-top: 20px;
    padding-left: 10px;
    h4 {
      width: auto;
      font-size: 22px;
    }
    button {
      width: auto;
      padding-top: 6px;
    }
  }
  .close {
    right: 10px;
    top: 10px;
  }
  .container {
    .basket {
      padding: 0 10px;
      &-item {
        padding: 10px;
        &-image {
          width: 90px;
          height: 90px;
          max-height: 90px;
        }
        &-desc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          padding: 8px 8px 8px 14px;
          &__name {
            font-size: 14px;
          }
          &__controls {
            max-width: 150px;
            div {
              button {
                width: 20px;
                height: 20px;
              }
              input {
                width: 50px;
                height: 20px;
              }
            }
          }
        }
        &-reduce {
          width: 25px;
          height: 25px;
          line-height: 25px;
        }
      }
    }
    .order {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 20px;
      &-amount {
        width: 100%;
        margin-left: 10px;
        span {
          font-size: 18px;
        }
      }
      &-submit {
        width: 100%;
        margin-top: 10px;
        padding: 10px 20px;
      }
    }
  }
}