<div class="history">
  <table class="history-table">
    <thead>
      <tr>
        <td>№ замовлення</td>
        <td>Дата та час</td>
        <td>Адреса</td>
        <td>Сума</td>
        <td>Статус</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="history-empty">
    <span>Поки що Ви не зробили жодного замовлення </span>
    <a [routerLink]="[ '/product/culinasia-menu' ]">перейти в каталог</a>
  </div>
</div>
