<div class="container ">
  <div class="row">
    <h2 class="title">Наші <span>контакти</span></h2>
  </div>
  <div class="row">
    <div class="contact">
      <div class="contact-box">
        <h5 class="contact-box-title">ТРЦ Victoria Gardens</h5>
        <div class="contact-box-info">
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_one.svg?alt=media&token=919e70ab-34a1-48cf-ba1d-fba10daf856b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>м. Львів</h6>
              <p>Кульпарківська 226 А</p>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_two.svg?alt=media&token=02823a13-fdd1-4d59-8e5b-bcc0cf83150b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>victoriagardens@noa.lviv.ua</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_tree.svg?alt=media&token=123ca23b-b04d-4ff8-95f1-b03ef6f5ceda" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>098 732 08 41</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_four.svg?alt=media&token=0e611e44-25b8-413e-ab3b-a7f250cccc87" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>Пн - Нд з 10:00 до 22:00</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-box">
        <h5 class="contact-box-title">NOA Староєврейська</h5>
        <div class="contact-box-info">
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_one.svg?alt=media&token=919e70ab-34a1-48cf-ba1d-fba10daf856b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>м. Львів</h6>
              <p>Староєврейська 4</p>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_two.svg?alt=media&token=02823a13-fdd1-4d59-8e5b-bcc0cf83150b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>staroevreyska@noa.lviv.ua</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_tree.svg?alt=media&token=123ca23b-b04d-4ff8-95f1-b03ef6f5ceda" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>067 884 46 17</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_four.svg?alt=media&token=0e611e44-25b8-413e-ab3b-a7f250cccc87" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>Пн - Нд з 10:00 до 23:00</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-box">
        <h5 class="contact-box-title">NOA Крива Липа</h5>
        <div class="contact-box-info">
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_one.svg?alt=media&token=919e70ab-34a1-48cf-ba1d-fba10daf856b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>м. Львів</h6>
              <p>Крива Липа 8</p>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_two.svg?alt=media&token=02823a13-fdd1-4d59-8e5b-bcc0cf83150b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>kl@noa.lviv.ua</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_tree.svg?alt=media&token=123ca23b-b04d-4ff8-95f1-b03ef6f5ceda" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>067 884 46 96</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_four.svg?alt=media&token=0e611e44-25b8-413e-ab3b-a7f250cccc87" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>Пн - Нд з 11:00 до 22:00</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-box">
        <h5 class="contact-box-title">СТРЦ Spartak</h5>
        <div class="contact-box-info">
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_one.svg?alt=media&token=919e70ab-34a1-48cf-ba1d-fba10daf856b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>м. Львів</h6>
              <p>Мазепи 1Б</p>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_two.svg?alt=media&token=02823a13-fdd1-4d59-8e5b-bcc0cf83150b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>spartak@noa.lviv.ua</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_tree.svg?alt=media&token=123ca23b-b04d-4ff8-95f1-b03ef6f5ceda" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>067 884 46 31</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_four.svg?alt=media&token=0e611e44-25b8-413e-ab3b-a7f250cccc87" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>Пн - Нд з 10:00 до 22:00</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-box">
        <h5 class="contact-box-title">ТРЦ King Cross Leopolis</h5>
        <div class="contact-box-info">
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_one.svg?alt=media&token=919e70ab-34a1-48cf-ba1d-fba10daf856b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>с. Сокільники</h6>
              <p>Стрийська 30</p>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_two.svg?alt=media&token=02823a13-fdd1-4d59-8e5b-bcc0cf83150b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>kingcross@noa.lviv.ua</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_tree.svg?alt=media&token=123ca23b-b04d-4ff8-95f1-b03ef6f5ceda" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>067 884 45 90</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_four.svg?alt=media&token=0e611e44-25b8-413e-ab3b-a7f250cccc87" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>Пн - Нд з 10:00 до 21:00</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-box">
        <h5 class="contact-box-title">Комерційний відділ</h5>
        <div class="contact-box-info">
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_two.svg?alt=media&token=02823a13-fdd1-4d59-8e5b-bcc0cf83150b" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>commerce@tomatina.ua</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_tree.svg?alt=media&token=123ca23b-b04d-4ff8-95f1-b03ef6f5ceda" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>096 469 90 83</h6>
            </div>
          </div>
          <div class="contact-box-desc">
            <div class="contact-box-desc__icon">
              <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fcontact_icon_four.svg?alt=media&token=0e611e44-25b8-413e-ab3b-a7f250cccc87" alt="">
            </div>
            <div class="contact-box-desc__text">
              <h6>Пн - Пт з 09:00 до 18:00</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="contacts-footer">
      <div class="contacts-form">
        <h4>У тебе виникли запитання? Напиши нам!</h4>
        <form>
          <input type="text" placeholder="Ім'я">
          <input type="text" placeholder="Прізвище">
          <input type="text" placeholder="">
          <input type="text" placeholder="E-mail">
          <textarea placeholder="Повідомлення"></textarea>
          <button>Надіслати</button>
        </form>
      </div>
      <div class="contacts-map">
        <div class="contacts-map-image">
          <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fmap.JPG?alt=media&token=772bf1e8-5ed6-46f7-a520-2c71e5f0006e" alt="">
        </div>
      </div>
    </div>
  </div>
</div>