<div class="container">
  <div class="password">
    <h3 class="title">Зміна паролю</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <input class="input" type="password" formControlName="currentPassword" placeholder="*Ваш поточний пароль">
      <input class="input" type="password" formControlName="password" placeholder="*Новий пароль">
      <input class="input" type="password" formControlName="repeatNewPassword"  placeholder="*Повторіть пароль">
      <button class="button" type="submit" [disabled]="changePasswordForm.invalid">Зберегти зміни</button>
    </form>
  </div>
</div>
