@import "../../../../app/shared/styles/variables";
@import "../../../../app/shared/styles/mixins";

.container {
  position: relative;
  width: 100%;
  padding: 0 60px;
  .password {
    width: 500px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    .title {
      @include title(0 0 30px, 20px, 500, 1.3em);
    }
    form {
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .container {
    padding: 0;
    .password {
      width: 100%;
      padding: 0;
      .title {
        margin-bottom: 10px;
      }
    }
  }
}

@media all and (max-width: 510px) {
  .container {
    padding: 0;
    .password {
      form {
        .input {
          height: 40px;
          font-size: 14px;
        }
        .button {
          padding: 10px 0;
        }
      }
    }
  }
}