<div class="container">
  <div class="password">
    <h3 class="title">Зміна паролю</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <input type="password" formControlName="currentPass" placeholder="*Ваш поточний пароль">
      <input type="password" formControlName="password" placeholder="*Новий пароль">
      <input type="password" formControlName="repeatNewPass"  placeholder="*Повторіть пароль">
      <button type="submit" [disabled]="changePasswordForm.invalid">Зберегти зміни</button>
    </form>
  </div>
</div>
