<div class="container">
  <div class="title">
    <h2 class="title__text">Про <span>нас</span></h2>
  </div>
  <div class="row">
    <div class="info">
      <h3>NOA - місце, де багато живого вогню і смачних страв з особливим східним характером</h3>
      <p>Бренд паназійських ресторанів ”NOA” заснований у 2018 р.</p>
      <p>На сьогоднішній день у Львові працює 5 ресторанів мережі.</p>
      <p>В основі меню – авторська версія паназіатської кухні. Ми любимо експериментувати. Застосовуємо азійські традиції в стравах інших країн. І навпаки. Шукаємо баланс в смаках з усіх кінців світу. І як тільки рівновагу знайдено, страва з’являється в нашому меню.</p>
      <p>І абсолютно неважливо чи замовляєте ви страви, відвідуючи наш ресторан, оформляєте take away або замовлення на доставку. Ми гарантуємо, що кожна страва на нашій кухні готуватиметься з турботою і любов’ю до деталей і ніяк інакше!</p>
    </div>
    <div class="image">
      <div class="image-box">
        <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fabout-photo.png?alt=media&token=901ec20a-e86a-4522-b4d0-6f4675fa9086" alt="">
      </div>
    </div>
  </div>
</div>