<div class="header-side-bar" >
  <div class="header-side-bar__close" mat-dialog-close >
    <img src="https://firebasestorage.googleapis.com/v0/b/noa-delivery.appspot.com/o/static%20image%2Fclose.svg?alt=media&token=fe6e40e7-1afc-4c51-9a2e-74f07a4eb5b3" alt="">
  </div>
  <ul class="menu">
    <li class="menu-item">
      <a [routerLink]="[ '/about' ]" routerLinkActive="route-active" mat-dialog-close>Про нас</a>
    </li>
    <li class="menu-item">
      <a [routerLink]="[ '/delivery' ]" routerLinkActive="route-active" mat-dialog-close>Доставка</a>
    </li>
    <li class="menu-item">
      <a [routerLink]="[ '/vacancies' ]" routerLinkActive="route-active" mat-dialog-close>Вакансії</a>
    </li>
    <li class="menu-item">
      <a [routerLink]="[ '/contact' ]" routerLinkActive="route-active" mat-dialog-close>Контакти</a>
    </li>
  </ul>
</div>
