@import "../../../app/shared/styles/variables";

.header-side-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__close {
    width: 25px;
    height: 25px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    width: 100%;
    margin-top: 40px;
    &-item {
      a {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
        padding: 15px 25px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        color: $thirdColor;
        transition: all 0.3s;
        &:hover {
          background-color: $secondColor;
          color: $mainColor;
        }
      }
      .route-active {
        background-color: $secondColor;
        color: $mainColor;
      }
    }
  }
}